html    
    head
        link(href="css/style.min.css")
    body 
        include html/header 
        main.page 
            h1 Hello! 
            img(src="@img/hills-trees-fog-morning-deer-5120x2880.jpg")
        include html/footer
        script(src="js/app.min.js")         